<a href="https://colab.research.google.com/github/KathituCodes/Churn-predictions/blob/main/Cleaning_The_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import the necessary liblaries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# load the dataset
df = pd.read_csv("/content/Expresso_churn_dataset (1).csv")
df.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,00000bfd7d50f01092811bc0c8d7b0d6fe7c3596,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,1.0,2.0,NO,54.0,On net 200F=Unlimited _call24H,8.0,0.0
1,00000cb4a5d760de88fecb38e2f71b7bec52e834,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,4.0,NaN,NaN,1.0
2,00001654a9d9f96303d9969d0a4a851714a4bb57,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,46.0,7.0,NaN,NaN,NO,17.0,On-net 1000F=10MilF;10d,1.0,0.0
3,00001dd6fa45f7ba044bd5d84937be464ce78ac2,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,NaN,NaN,NO,62.0,"Data:1000F=5GB,7d",11.0,0.0
4,000028d9e13a595abe061f9b58f3d76ab907850f,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,24.0,NaN,NaN,NaN,NO,11.0,Mixt 250F=Unlimited_call24H,2.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802038 entries, 0 to 802037
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         802038 non-null  object
 1   REGION          485771 non-null  object
 2   TENURE          802038 non-null  object
 3   MONTANT         520557 non-null  float64
 4   FREQUENCE_RECH  520557 non-null  float64
 5   REVENUE         531890 non-null  float64
 6   ARPU_SEGMENT    531890 non-null  float64
 7   FREQUENCE       531890 non-null  float64
 8   DATA_VOLUME     407030 non-null  float64
 9   ON_NET          509122 non-null  float64
 10  ORANGE          468824 non-null  float64
 11  TIGO            321936 non-null  float64
 12  ZONE1           63199 non-null   float64
 13  ZONE2           50784 non-null   float64
 14  MRG             802037 non-null  object
 15  REGULARITY      802037 non-null  float64
 16  TOP_PACK        466405 non-null  object
 17  FREQ_TOP_PACK   466405 non-null  float64
 18  CHURN           802037 non-null  float64
dtypes: float64(14), object(5)
memory usage: 116.3+ MB

In [ ]:
# generating the profile report
#!pip install ydata-profiling
#from ydata_profiling import ProfileReport
#report = ProfileReport(df, title='Expresso Churn Report')
#report.to_file('expresso_report.html')

In [ ]:
df1 = df.drop(columns=['user_id', 'ORANGE', 'TIGO', 'ZONE1', 'ZONE2', 'MRG', 'TOP_PACK'])
df1.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
0,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,54.0,8.0,0.0
1,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,1.0
2,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,17.0,1.0,0.0
3,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,62.0,11.0,0.0
4,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,11.0,2.0,0.0

In [ ]:
df1["REGION"].isnull().sum()

316267

In [ ]:
# checking the number of 'NaN' values in the REGION column that result to the binary CHURN rate of '1'
df1[df1['REGION'].isnull()]['CHURN'].value_counts()

CHURN
0.0    174776
1.0    141491
Name: count, dtype: int64

In [ ]:
# create a dataframe where the churn binary value = '1'
df2 = df1[df1['CHURN'] == 1]
df2.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
1,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,1.0
12,NaN,G 12-15 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0
17,NaN,H 15-18 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,1.0
21,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,0.0,NaN,36.0,NaN,1.0
22,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,1.0

In [ ]:
# check the unique values in the 'REGULARITY' and 'REGION' columns
df2['REGULARITY'].unique()

array([ 4.,  2.,  5., 36., 32.,  3.,  1., 29., 49.,  7., 21.,  8., 16.,
       19., 10., 14., 47.,  6., 17., 33., 18., 11., 12.,  9., 15., 27.,
       41., 24., 50., 35., 60., 48., 46., 22., 13., 20., 25., 28., 38.,
       51., 39., 40., 34., 53., 30., 61., 58., 26., 31., 55., 23., 37.,
       42., 45., 56., 62., 44., 52., 54., 57., 59., 43.])

In [ ]:
df2['REGULARITY'].value_counts()

REGULARITY
1.0     51397
2.0     25499
3.0     15117
4.0     10386
5.0      7431
        ...
61.0       87
59.0       87
57.0       86
51.0       85
55.0       78
Name: count, Length: 62, dtype: int64

In [ ]:
churne_customers = df2['CHURN'].value_counts()

print(f'The total number of customers who stopped using the service were: {churne_customers}')

The total number of customers who stopped using the service were: CHURN
1.0    150283
Name: count, dtype: int64

In [ ]:
df2['REGION'].value_counts()

REGION
DAKAR          3684
THIES          1092
KAOLACK         835
DIOURBEL        677
LOUGA           619
SAINT-LOUIS     573
TAMBACOUNDA     323
ZIGUINCHOR      228
FATICK          204
MATAM           199
KOLDA           163
KAFFRINE        126
SEDHIOU          52
KEDOUGOU         17
Name: count, dtype: int64

In [ ]:
# checking the number of null values in the region column.
df2['REGION'].isnull().sum()

141491

In [ ]:
# dropping the null values in df2
df2.dropna(inplace=True)
df2.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
2771,DAKAR,K > 24 month,6500.0,9.0,6441.0,2147.0,13.0,9990.0,81.0,49.0,4.0,1.0
3734,SAINT-LOUIS,K > 24 month,1750.0,3.0,2350.0,783.0,7.0,606.0,98.0,21.0,2.0,1.0
4077,DAKAR,K > 24 month,3500.0,4.0,6009.0,2003.0,7.0,11909.0,1.0,30.0,2.0,1.0
4485,KAOLACK,K > 24 month,1800.0,5.0,2000.0,667.0,6.0,4.0,33.0,34.0,5.0,1.0
5983,SEDHIOU,K > 24 month,3000.0,4.0,2981.0,994.0,6.0,4625.0,5.0,13.0,2.0,1.0

In [ ]:
# drop the NaN values in df1 dataframe.
#df1.dropna(inplace=True)
#df1.head()

In [ ]:
# check the general information of df1
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154048 entries, 0 to 2154047
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   REGION          object
 1   TENURE          object
 2   MONTANT         float64
 3   FREQUENCE_RECH  float64
 4   REVENUE         float64
 5   ARPU_SEGMENT    float64
 6   FREQUENCE       float64
 7   DATA_VOLUME     float64
 8   ON_NET          float64
 9   REGULARITY      int64
 10  FREQ_TOP_PACK   float64
 11  CHURN           int64
dtypes: float64(8), int64(2), object(2)
memory usage: 197.2+ MB

In [ ]:
df1['CHURN'].value_counts()

CHURN
0.0    651754
1.0    150283
Name: count, dtype: int64

In [ ]:
# fill the NaN values in the 'REGION' column with 'NO-REGION'
df1['REGION'].fillna('NO-REGION', inplace=True)
df1.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
0,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,54.0,8.0,0.0
1,NO-REGION,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,1.0
2,NO-REGION,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,17.0,1.0,0.0
3,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,62.0,11.0,0.0
4,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,11.0,2.0,0.0

In [ ]:
# fill all NaN Values in df1 with o
df1.fillna(0, inplace=True)
df1.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
0,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,54.0,8.0,0.0
1,NO-REGION,I 18-21 month,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,1.0
2,NO-REGION,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,0.0,90.0,17.0,1.0,0.0
3,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,62.0,11.0,0.0
4,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,0.0,39.0,11.0,2.0,0.0

In [ ]:
# check for duplicates in df1
print(df1.duplicated().sum())

# view the content of the duplicated rows
df1[df1.duplicated()]

# drop the duplicated rows
df1.drop_duplicates(inplace=True)
print(df1.duplicated().sum())

249335
0

In [ ]:
df1['REGION'].value_counts()

REGION
DAKAR          168948
NO-REGION      124817
THIES           58651
SAINT-LOUIS     40391
LOUGA           31902
KAOLACK         31058
DIOURBEL        20667
TAMBACOUNDA     18739
KAFFRINE        14513
KOLDA           13002
FATICK          11888
MATAM            9574
ZIGUINCHOR       7134
SEDHIOU          1063
KEDOUGOU          356
Name: count, dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 552703 entries, 0 to 802037
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   REGION          552703 non-null  object
 1   TENURE          552703 non-null  object
 2   MONTANT         552703 non-null  float64
 3   FREQUENCE_RECH  552703 non-null  float64
 4   REVENUE         552703 non-null  float64
 5   ARPU_SEGMENT    552703 non-null  float64
 6   FREQUENCE       552703 non-null  float64
 7   DATA_VOLUME     552703 non-null  float64
 8   ON_NET          552703 non-null  float64
 9   REGULARITY      552703 non-null  float64
 10  FREQ_TOP_PACK   552703 non-null  float64
 11  CHURN           552703 non-null  float64
dtypes: float64(10), object(2)
memory usage: 54.8+ MB

In [ ]:
# save this dataframe into a csv file
df1.to_csv('expresso_cleaned.csv', index=False)