<a href="https://colab.research.google.com/github/KathituCodes/Churn-predictions/blob/main/Phase_1_Cleaning_The_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# import the necessary liblaries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
# load the dataset
df = pd.read_csv("/content/Expresso_churn_dataset.csv")
df.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,00000bfd7d50f01092811bc0c8d7b0d6fe7c3596,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,1.0,2.0,NO,54,On net 200F=Unlimited _call24H,8.0,0
1,00000cb4a5d760de88fecb38e2f71b7bec52e834,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,4,NaN,NaN,1
2,00001654a9d9f96303d9969d0a4a851714a4bb57,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,46.0,7.0,NaN,NaN,NO,17,On-net 1000F=10MilF;10d,1.0,0
3,00001dd6fa45f7ba044bd5d84937be464ce78ac2,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,NaN,NaN,NO,62,"Data:1000F=5GB,7d",11.0,0
4,000028d9e13a595abe061f9b58f3d76ab907850f,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,24.0,NaN,NaN,NaN,NO,11,Mixt 250F=Unlimited_call24H,2.0,0

In [5]:
# Describe the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154048 entries, 0 to 2154047
Data columns (total 19 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         object
 1   REGION          object
 2   TENURE          object
 3   MONTANT         float64
 4   FREQUENCE_RECH  float64
 5   REVENUE         float64
 6   ARPU_SEGMENT    float64
 7   FREQUENCE       float64
 8   DATA_VOLUME     float64
 9   ON_NET          float64
 10  ORANGE          float64
 11  TIGO            float64
 12  ZONE1           float64
 13  ZONE2           float64
 14  MRG             object
 15  REGULARITY      int64
 16  TOP_PACK        object
 17  FREQ_TOP_PACK   float64
 18  CHURN           int64
dtypes: float64(12), int64(2), object(5)
memory usage: 312.2+ MB

In [6]:
# generating the profile report
#!pip install ydata-profiling
#from ydata_profiling import ProfileReport
#report = ProfileReport(df, title='Expresso Churn Report')
#report.to_file('expresso_report.html')

In [7]:
# Drop unecessary columns
df1 = df.drop(columns=['user_id', 'ORANGE', 'TIGO', 'ZONE1', 'ZONE2', 'MRG', 'TOP_PACK'])
df1.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
0,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,54,8.0,0
1,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,1
2,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,17,1.0,0
3,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,62,11.0,0
4,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,11,2.0,0

In [8]:
# Check for missing values
df1["REGION"].isnull().sum()

np.int64(849299)

In [9]:
# Checking the number of 'NaN' values in the REGION column that result to the binary CHURN rate of '1'
df1[df1['REGION'].isnull()]['CHURN'].value_counts()

CHURN
0    468824
1    380475
Name: count, dtype: int64

In [10]:
# Create a dataframe where the churn binary value = '1'
df2 = df1[df1['CHURN'] == 1]
df2.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
1,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,1
12,NaN,G 12-15 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,1
17,NaN,H 15-18 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,1
21,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,0.0,NaN,36,NaN,1
22,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,1

In [11]:
# Check the unique values in the 'REGULARITY' and 'REGION' columns
df2['REGULARITY'].unique()

array([ 4,  2,  5, 36, 32,  3,  1, 29, 49,  7, 21,  8, 16, 19, 10, 14, 47,
        6, 17, 33, 18, 11, 12,  9, 15, 27, 41, 24, 50, 35, 60, 48, 46, 22,
       13, 20, 25, 28, 38, 51, 39, 40, 34, 53, 30, 61, 58, 26, 31, 55, 23,
       37, 42, 45, 56, 62, 44, 52, 54, 57, 59, 43])

In [12]:
df2['REGULARITY'].value_counts()

REGULARITY
1     137955
2      68415
3      40822
4      27835
5      19967
       ...
56       232
59       222
58       221
57       213
55       202
Name: count, Length: 62, dtype: int64

In [13]:
# Check for the total number of cutsomera who stopped using the service
churne_customers = df2['CHURN'].value_counts()

print(f'The total number of customers who stopped using the service were: {churne_customers}')

The total number of customers who stopped using the service were: CHURN
1    403986
Name: count, dtype: int64

In [14]:
df2['REGION'].value_counts()

REGION
DAKAR          9873
THIES          2935
KAOLACK        2273
DIOURBEL       1880
LOUGA          1580
SAINT-LOUIS    1520
TAMBACOUNDA     846
ZIGUINCHOR      602
MATAM           584
FATICK          506
KOLDA           417
KAFFRINE        316
SEDHIOU         136
KEDOUGOU         43
Name: count, dtype: int64

In [15]:
# Checking the number of null values in the region column.
df2['REGION'].isnull().sum()

np.int64(380475)

In [16]:
# Dropping the null values in df2
df2.dropna(inplace=True)
df2.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
2771,DAKAR,K > 24 month,6500.0,9.0,6441.0,2147.0,13.0,9990.0,81.0,49,4.0,1
3734,SAINT-LOUIS,K > 24 month,1750.0,3.0,2350.0,783.0,7.0,606.0,98.0,21,2.0,1
4077,DAKAR,K > 24 month,3500.0,4.0,6009.0,2003.0,7.0,11909.0,1.0,30,2.0,1
4485,KAOLACK,K > 24 month,1800.0,5.0,2000.0,667.0,6.0,4.0,33.0,34,5.0,1
5983,SEDHIOU,K > 24 month,3000.0,4.0,2981.0,994.0,6.0,4625.0,5.0,13,2.0,1

In [17]:
# drop the NaN values in df1 dataframe.
#df1.dropna(inplace=True)
#df1.head()

In [18]:
# Check the general information of df1
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154048 entries, 0 to 2154047
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   REGION          object
 1   TENURE          object
 2   MONTANT         float64
 3   FREQUENCE_RECH  float64
 4   REVENUE         float64
 5   ARPU_SEGMENT    float64
 6   FREQUENCE       float64
 7   DATA_VOLUME     float64
 8   ON_NET          float64
 9   REGULARITY      int64
 10  FREQ_TOP_PACK   float64
 11  CHURN           int64
dtypes: float64(8), int64(2), object(2)
memory usage: 197.2+ MB

In [19]:
df1['CHURN'].value_counts()

CHURN
0    1750062
1     403986
Name: count, dtype: int64

In [20]:
# Fill the NaN values in the 'REGION' column with 'NO-REGION'
df1['REGION'].fillna('NO-REGION', inplace=True)
df1.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
0,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,54,8.0,0
1,NO-REGION,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,1
2,NO-REGION,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,17,1.0,0
3,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,62,11.0,0
4,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,11,2.0,0

In [21]:
# Fill all NaN Values in df1 with o
df1.fillna(0, inplace=True)
df1.head()

,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,REGULARITY,FREQ_TOP_PACK,CHURN
0,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,54,8.0,0
1,NO-REGION,I 18-21 month,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0.0,1
2,NO-REGION,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,0.0,90.0,17,1.0,0
3,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,62,11.0,0
4,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,0.0,39.0,11,2.0,0

In [22]:
# Check for duplicates in df1
print(df1.duplicated().sum())

# View the content of the duplicated rows
df1[df1.duplicated()]

# Drop the duplicated rows
df1.drop_duplicates(inplace=True)
print(df1.duplicated().sum())

700954
0

In [23]:
df1['REGION'].value_counts()

REGION
DAKAR          447466
NO-REGION      321904
THIES          155010
SAINT-LOUIS    106902
LOUGA           84012
KAOLACK         82878
DIOURBEL        54227
TAMBACOUNDA     49437
KAFFRINE        37957
KOLDA           34525
FATICK          30841
MATAM           25474
ZIGUINCHOR      18844
SEDHIOU          2720
KEDOUGOU          897
Name: count, dtype: int64

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453094 entries, 0 to 2154046
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   REGION          1453094 non-null  object
 1   TENURE          1453094 non-null  object
 2   MONTANT         1453094 non-null  float64
 3   FREQUENCE_RECH  1453094 non-null  float64
 4   REVENUE         1453094 non-null  float64
 5   ARPU_SEGMENT    1453094 non-null  float64
 6   FREQUENCE       1453094 non-null  float64
 7   DATA_VOLUME     1453094 non-null  float64
 8   ON_NET          1453094 non-null  float64
 9   REGULARITY      1453094 non-null  int64
 10  FREQ_TOP_PACK   1453094 non-null  float64
 11  CHURN           1453094 non-null  int64
dtypes: float64(8), int64(2), object(2)
memory usage: 144.1+ MB

In [25]:
# save this dataframe into a csv file
df1.to_csv('expresso_cleaned.csv', index=False)